In [15]:
import pandas as pd
import logging
import os
import sys
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.insert(0, project_root)
from src.utils.helper import get_root_path,setup_logger
from src.data.analysis import load_data,clean_and_preprocess_data
setup_logger("main")
logger=logging.getLogger(__name__)
root_path=get_root_path()

In [16]:
credit_path=root_path /"data" /"raw" /"creditcard.csv"
fraud_path=root_path / "data" /"raw" /"Fraud_Data.csv"
ip_path=root_path /"data"/"raw"/ "IpAddress_to_Country.csv"

credit_df=load_data(credit_path)
fraud_df=load_data(fraud_path)
ip_df=load_data(ip_path)

In [17]:
print("shape:",fraud_df.shape)
print(f"columns: {list(fraud_df.columns)}")
fraud_df.head()
print(f"sum of fraudlent: {(fraud_df['class']==1).sum()}")

shape: (151112, 11)
columns: ['user_id', 'signup_time', 'purchase_time', 'purchase_value', 'device_id', 'source', 'browser', 'sex', 'age', 'ip_address', 'class']
sum of fraudlent: 14151

In [18]:
print("shape:",credit_df.shape)
print(f"columns: {list(credit_df.columns)}")
print(f"sum of fraudlet: {(credit_df["Class"]==1).sum()}")
credit_df.head()

shape: (284807, 31)
columns: ['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class']
sum of fraudlet: 492

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [19]:
print("shape:",ip_df.shape)
print(f"columns: {list(ip_df.columns)}")
ip_df.head()

shape: (138846, 3)
columns: ['lower_bound_ip_address', 'upper_bound_ip_address', 'country']

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

## data preparartion

In [20]:

creadit_df=clean_and_preprocess_data(df=credit_df,path="creditcard.csv")
clean_fraud_df=clean_and_preprocess_data(df=fraud_df,path="fraud.csv")
cleam_ip_df=clean_and_preprocess_data(df=ip_df,path="ip.csv")

2025-08-17 21:15:03,583 - src.data.analysis - INFO - No numerical columns with missing values found.
2025-08-17 21:15:03,586 - src.data.analysis - INFO -   No categorical columns with missing values found.
2025-08-17 21:15:03,588 - src.data.analysis - INFO - DataFrame shape after handling missing values: (284807, 31)
2025-08-17 21:15:03,592 - src.data.analysis - INFO -
 __ Removing Duplicates:
2025-08-17 21:15:05,065 - src.data.analysis - INFO -   Removed 1081 duplicate rows.
2025-08-17 21:15:05,066 - src.data.analysis - INFO - DataFrame shape after removing duplicates: (283726, 31)
2025-08-17 21:15:05,068 - src.data.analysis - INFO -
--- Data Cleaning and Preprocessing Complete ---
2025-08-17 21:15:05,069 - src.data.analysis - INFO - Final DataFrame shape: (283726, 31)
2025-08-17 21:15:05,267 - src.data.analysis - INFO - Column 'Time' successfully converted to datetime.
2025-08-17 21:15:35,979 - src.data.analysis - INFO - data preprocess has completed successfully
2025-08-17 21:15:36,161 - src.data.analysis - INFO - No numerical columns with missing values found.
2025-08-17 21:15:36,163 - src.data.analysis - INFO -   No categorical columns with missing values found.
2025-08-17 21:15:36,164 - src.data.analysis - INFO - DataFrame shape after handling missing values: (151112, 11)
2025-08-17 21:15:36,166 - src.data.analysis - INFO -
 __ Removing Duplicates:
2025-08-17 21:15:36,434 - src.data.analysis - INFO -   No duplicate rows found.
2025-08-17 21:15:36,436 - src.data.analysis - INFO - DataFrame shape after removing duplicates: (151112, 11)
2025-08-17 21:15:36,439 - src.data.analysis - INFO -
--- Data Cleaning and Preprocessing Complete ---
2025-08-17 21:15:36,440 - src.data.analysis - INFO - Final DataFrame shape: (151112, 11)
2025-08-17 21:15:36,532 - src.data.analysis - INFO - Column 'signup_time' successfully converted to datetime.
2025-08-17 21:15:36,616 - src.data.analysis - INFO - Column 'purchase_time' successfully converted to datetime.
2025-08-17 21:15:39,483 - src.data.analysis - INFO - data preprocess has completed successfully
2025-08-17 21:15:39,524 - src.data.analysis - INFO - No numerical columns with missing values found.
2025-08-17 21:15:39,526 - src.data.analysis - INFO -   No categorical columns with missing values found.
2025-08-17 21:15:39,529 - src.data.analysis - INFO - DataFrame shape after handling missing values: (138846, 3)
2025-08-17 21:15:39,531 - src.data.analysis - INFO -
 __ Removing Duplicates:
2025-08-17 21:15:39,589 - src.data.analysis - INFO -   No duplicate rows found.
2025-08-17 21:15:39,590 - src.data.analysis - INFO - DataFrame shape after removing duplicates: (138846, 3)
2025-08-17 21:15:39,591 - src.data.analysis - INFO -
--- Data Cleaning and Preprocessing Complete ---
2025-08-17 21:15:39,592 - src.data.analysis - INFO - Final DataFrame shape: (138846, 3)
2025-08-17 21:15:40,444 - src.data.analysis - INFO - data preprocess has completed successfully

In [21]:
merged_df=pd.concat([fraud_df,ip_df],axis=1)
merged_df.to_csv(root_path/"data"/"processed"/"merged_data.csv")